h1{
    background-color: rgb(135, 167, 222);
    padding: 10px;
    text-align: center;
    width: 400px;
    border-radius: 50px;
}
input{
    padding: 5px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
button{
    padding: 5px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
h3{
    padding: 5px;
    background-color: rgb(155, 155, 164);
    width: 400px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 20px;
}
.resultado{
    border-radius: 20px;
    background-color: aqua;
    width: 400px;
    
    padding: 20px;
    box-sizing: border-box;
}